<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>MyPage</title>
</head>
<body>
<div style="float:left">
    <table>
        <tr>
            <a th:href="@{'/' + ${user.userId}}">
                <p th:text="${user.userId}" class="myPageUserId">아이디</p>
            </a>
        </tr>
        <tr>
            <td>
                <div>
                    포스팅<br/>
                    <p th:text="${user.posting}" class="myPagePostingNo">0</p>
                </div>
            </td>
            <td>
                <div>
                    팔로잉<br/>
                    <p th:text="${user.following}" class="myPageFollowing">0</p>
                </div>
            </td>
            <td>
                <div>
                    팔로워<br/>
                    <p th:text="${user.follower}" class="myPageFollower">0</p>
                </div>
            </td>
        </tr>
    </table>
    <div>
        <a th:href="@{'/logout'}">
            <input type="button" value="로그아웃" class="logoutBtn"/>
        </a>
    </div>
    <div>
        <a th:href="@{'/feed'}">
            <input type="button" value="홈으로" class="feedBtn"/>
        </a>
    </div>
</div>
<div style="float:left">
    <div th:each="post : ${posts}" class="myPagePosting">
        <hr/>
        <a th:href="@{'/' + ${post.userId}}">
            <p th:text="${post.userId}" class="myPagePostingUserId">user_id</p>
        </a>
        <p th:text="${post.content}">content</p>
    </div>
</div>
</body>
</html>