<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PersonalPage</title>
</head>
<body>
<div style="float:left">
    <table>
        <tr>
            <a th:href="@{'/' + ${user.userId}}">
                <p th:text="${user.userId}">아이디</p>
            </a>
        </tr>
        <tr>
            <td>
                <div>
                    포스팅<br/>
                    <p th:text="${user.posting}" class="personalPostingNo">0</p>
                </div>
            </td>
            <td>
                <div>
                    팔로잉<br/>
                    <p th:text="${user.following}" class="personalFollowing">0</p>
                </div>
            </td>
            <td>
                <div>
                    팔로워<br/>
                    <p th:text="${user.follower}" class="personalFollower">0</p>
                </div>
            </td>
        </tr>
    </table>
    <div>
        <a th:href="@{'/feed'}">
            <input type="button" value="홈으로" class="feedBtn"/>
        </a>
    </div>
    <div>
        <a th:href="@{'/follow/' + ${user.userId}}">
        <input type="button" value="팔로우" class="followBtn"/>
    </a>
    </div>
</div>
<div style="float:left">
    <div th:each="post : ${posts}" class="personalPosting">
        <hr/>
        <a th:href="@{'/' + ${post.userId}}">
            <p th:text="${post.userId}">user_id</p>
        </a>
        <p th:text="${post.content}">content</p>
    </div>
</div>
</body>
</html>